<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-05-20T08:05:17Z</date>
	<key>WorkspacePath</key>
	<string>/Volumes/External SSD/Hise/Projects/mix_space/DspNetworks/Binaries/Builds/MacOSX/mix_space.xcodeproj</string>
</dict>
</plist>
